.mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  }

$color: blue;
$bodycolor: black;

h1 {
    color: $color;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: $bodycolor;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid black;  
    border-collapse: collapse;
    width: 20%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th { 
    background-color: lightgray;
}

@media (min-width: 500px) {
    h1::before {
        content: "Welcome to My Web Page!";
    }
}

@media (max-width: 499px) {
    h1::before {
        content: "Welcome";
    }
}