h1 {
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid black;  
    border-collapse: collapse;
    width: 20%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th { 
    background-color: lightgray;
}

@media (min-width: 500px) {
    h1::before {
        content: "Welcome to My Web Page!";
    }
}

@media (max-width: 499px) {
    h1::before {
        content: "Welcome";
    }
}